In [ ]:
import numpy as np
import pandas as pd

contract= pd.read_excel ('Resultat de creation en masse 20-05.xlsx')
contract.head()

,Numero Adherent,Assureur,Apporteur d affaire,Gamme,ANI,Date de souscription,Date effective,Mode de fractionnement,Jour de prélèvement,Assurés,...,Numero enfant 1,Numero enfant 2,Numero enfant 3,Bloc parametrage,Lien du contrat,Emplacement du bloc,Creation avec Succes ?,Mode,Numero contrat,Nom adherent
0,A103681,MMC (Mutuelle),T001 - COURTIER TEST 1 (courtier),A16P03 GEODE DEPENDANCE,ANI,6/1/2018,1/2/2018,Mensuel,5,souscripteur seul,...,NaN,NaN,NaN,NaN,10.66.66.5:8000/contract/5380/,NaN,Scenario Valide,Mode A,C10005130 - V1,Mikayla ROBOT
1,A103682,Mutuelle Mutest (Mutuelle),T001 - COURTIER TEST 1 (courtier),A16P03 GEODE DEPENDANCE,ANI,6/1/2019,1/2/2019,Mensuel,8,souscripteur seul,...,NaN,NaN,NaN,NaN,10.66.66.5:8000/contract/5381/,NaN,Scenario Valide,Mode A,C10005131 - V1,Crystal ROBOT
2,A104230,MMC (Mutuelle),13112020 - COURTIER 13112020,A16P03 GEODE DEPENDANCE,ANI,14/7/2020,1/8/2020,Mensuel,5,souscripteur seul,...,NaN,NaN,NaN,NaN,10.66.66.5:8000/contract/5382/,NaN,Scenario Valide,Mode A,C10005132 - V1,William ROBOT
3,A104227,Mutuelle Mutest (Mutuelle),13112020 - COURTIER 13112020,A16P03 GEODE DEPENDANCE,ANI,14/7/2021,1/8/2021,Mensuel,8,souscripteur seul,...,NaN,NaN,NaN,NaN,10.66.66.5:8000/contract/5383/,NaN,Scenario Valide,Mode A,C10005133 - V1,Robert ROBOT
4,A104228,MMC (Mutuelle),T001 - COURTIER TEST 1 (courtier),A16P03 GEODE DEPENDANCE,ANI,23/5/2018,1/6/2018,Mensuel,5,souscripteur seul,...,NaN,NaN,NaN,NaN,10.66.66.5:8000/contract/5384/,NaN,Scenario Valide,Mode A,C10005134 - V1,Ronnie ROBOT

# New Section

In [ ]:
test= pd.read_excel ('TEST CHAINE CONTENTIEUX - Copie (1).xlsx')
 test.info()
test.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Transition                  87 non-null     object
 1   Calendrier                  87 non-null     object
 2   Jours de prelevement        87 non-null     int64
 3   Lancer prelevement?         81 non-null     object
 4   Contrat                     0 non-null      float64
 5   Balance avant               0 non-null      float64
 6   retour de paiement          0 non-null      float64
 7   date du retour de paiement  0 non-null      float64
 8   Raison de retour            0 non-null      float64
 9   Balance apres               0 non-null      float64
 10  Statut dossier              0 non-null      float64
 11  nbr de rejet                0 non-null      float64
 12  Statut contrat              0 non-null      float64
 13  date dernier rejet          0 non-null      float64
 14  date de suspention          0 non-null      float64
 15  date de résiliation         0 non-null      float64
 16  Validité                    0 non-null      float64
dtypes: float64(13), int64(1), object(3)
memory usage: 11.7+ KB

,Transition,Calendrier,Jours de prelevement,Lancer prelevement?,Contrat,Balance avant,retour de paiement,date du retour de paiement,Raison de retour,Balance apres,Statut dossier,nbr de rejet,Statut contrat,date dernier rejet,date de suspention,date de résiliation,Validité
0,Oui,Juillet/2019,5,Oui,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Non,Juillet/2019,5,Non,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Non,Juillet/2019,8,Oui,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Oui,Août/2019,5,Oui,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Non,Août/2019,8,Oui,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#"id "
ids = contract['Lien du contrat'].str.split('/').str[2]

In [ ]:
#month
month=test['Calendrier'].str.split('/').str[0]

In [ ]:
contract_test=contract.loc[:,['Date effective','Jour de prélèvement']]
contract_test['ids']=ids

In [ ]:
contract_test['Date effective']=pd.to_datetime(contract_test['Date effective'])
contract_test['year']= contract_test['Date effective'].dt.year
contract_test['month']= contract_test['Date effective'].dt.month
contract_test['day']= contract_test['Date effective'].dt.day
contract_test.head()

  Date effective  Jour de prélèvement   ids  year  month  day
0     2018-01-02                    5  5380  2018      1    2
1     2019-01-02                    8  5381  2019      1    2
2     2020-01-08                    5  5382  2020      1    8
3     2021-01-08                    8  5383  2021      1    8
4     2018-01-06                    5  5384  2018      1    6

In [ ]:
chaine_test=test.loc[:,['Jours de prelevement','Calendrier']]
chaine_test['month']=month
#print(chaine_test)
chaine_test['month']=chaine_test['month'].str.upper()

chaine_test.loc[(chaine_test['month']=='JANVIER'), 'month']=1
chaine_test.loc[(chaine_test['month']=='FÉVRIER'), 'month']=2
chaine_test.loc[(chaine_test['month']=='MARS'), 'month']=3
chaine_test.loc[(chaine_test['month']=='AVRIL'), 'month']=4
chaine_test.loc[(chaine_test['month']=='MAI'), 'month']=5
chaine_test.loc[(chaine_test['month']=='JUIN'), 'month']=6
chaine_test.loc[(chaine_test['month']=='JUILLET'), 'month']=7
chaine_test.loc[(chaine_test['month']=='AOÛT'), 'month']=8
chaine_test.loc[(chaine_test['month']=='SEPTEMBRE'), 'month']=9
chaine_test.loc[(chaine_test['month']=='OCTOBRE'), 'month']=10
chaine_test.loc[(chaine_test['month']=='NOVEMBRE'), 'month']=11
chaine_test.loc[(chaine_test['month']=='DÉCEMBRE'), 'month']=12

In [ ]:
#year
year = chaine_test['Calendrier'].str.split('/').str[1]
chaine_test['year']=year
chaine_test['contrat']=None
chaine_test.head()

   Jours de prelevement    Calendrier month  year contrat
0                     5  Juillet/2019     7  2019    None
1                     5  Juillet/2019     7  2019    None
2                     8  Juillet/2019     7  2019    None
3                     5     Août/2019     8  2019    None
4                     8     Août/2019     8  2019    None

In [ ]:
for i in range(len(chaine_test)):
  j=0
  contract_test=contract_test.reset_index(drop=True)
  while j!= len(contract_test)-1:
    j=j+1
    if int(chaine_test['month'].iloc[i])==int(contract_test['month'].iloc[j]) and
    int(chaine_test['year'].iloc[i])>=int(contract_test['year'].iloc[j]) and int(chaine_test['Jours de prelevement'].iloc[i])==int(contract_test['Jour de prélèvement'].iloc[j]):
      chaine_test['contrat'].iloc[i]=contract_test['ids'].iloc[j]
      contract_test=contract_test.drop(index=j)
      break

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
chaine_test['retour de paiement']=None
for i in range(len(chaine_test)):
  if (chaine_test['contrat'].iloc[i])!=None:
    chaine_test['retour de paiement'].iloc[i]='Oui'

In [ ]:
import random
chaine_test['date du retour de paiement']=None
chaine_test['date']=None
for i in range(len(chaine_test)):
    chaine_test['date'].iloc[i]=int(chaine_test['Jours de prelevement'].iloc[i])+random.randint(0, 20)

In [ ]:
chaine_test['date du retour de paiement']=chaine_test['date'].map(str)+'/'+chaine_test['month'].map(str)+'/'+chaine_test['year'].map(str)
for i in range(len(chaine_test)):
  if (chaine_test['contrat'].iloc[i])==None:
    chaine_test['date du retour de paiement'].iloc[i]=None

In [ ]:
chaine_test['Raison de retour']=None
for i in range(len(chaine_test)):
  if (chaine_test['contrat'].iloc[i])!=None:
    chaine_test['Raison de retour'].iloc[i]='Account closed'

In [ ]:
test['Contrat']=chaine_test['contrat']
test['retour de paiement']=chaine_test['retour de paiement']
test['date du retour de paiement']=chaine_test['date du retour de paiement']
test['Raison de retour']=chaine_test['Raison de retour']

In [ ]:
test

,Transition,Calendrier,Jours de prelevement,Lancer prelevement?,Contrat,Balance avant,retour de paiement,date du retour de paiement,Raison de retour,Balance apres,Statut dossier,nbr de rejet,Statut contrat,date dernier rejet,date de suspention,date de résiliation,Validité
0,Oui,Juillet/2019,5,Oui,None,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Non,Juillet/2019,5,Non,None,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Non,Juillet/2019,8,Oui,None,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Oui,Août/2019,5,Oui,5451,NaN,Oui,25/8/2019,Account closed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Non,Août/2019,8,Oui,None,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Non,Avril/2022,5,Non,5482,NaN,Oui,14/4/2022,Account closed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Oui,Mai/2022,8,Oui,None,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Non,Mai/2022,5,Oui,5446,NaN,Oui,12/5/2022,Account closed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,Non,Mai/2022,8,Non,None,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Oui,Juin/2022,5,Oui,5504,NaN,Oui,21/6/2022,Account closed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
test.to_excel('project.xlsx',index=False)